/* General Stylings*/
body {
    padding: 0;
    margin: 0;
    background-color: #393053;
    color: white;
}
#main {
    width:85%;
    position: relative;
    left: 15%;
    z-index: 0;
}



/* Nav bar */
#navbar {
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #18122B;
}
.nav-link {
    font-size: 2rem;
    padding: 12% 0;
    color: white;
    text-align: center;
}
.nav-link:visited{
    color: white;
}
.nav-link:hover{
    color: #635985;
}
ul {
    list-style-type: none;
}


/* Title */
.title-img {
    width: 100%;
}

.big-title {
    position: relative;
    bottom: 30vw;
    left:20%;
    font-size: 5em;
    text-shadow: #18122B 2px 2px;
    width: 700px;
}

/* Carousels */
.caro-vert {
    height: 60vh;
}
.caro-hori {
    height: 60vh;
}

.carousel {
    height: 70vh;
    text-align: center;
}

.sec {
    text-align: center;
    padding: 6% 4%;
}
h2 {
    font-size: 3.5rem;
}
.sec p {
    font-size: 2rem;
}
.alt-color {
    background-color: #635985;
}

/* Socials */
